* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    transition: 0.8s all;
    scroll-behavior: smooth;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: $descr-dark;
}

.container {
    width: 1129px;
    margin: 0 auto;
    position: relative;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: $darkblue;
    margin: 25px auto 0 auto;
    &_white {
        background-color: $white;
    }
    &_slider {
        width: 876px;
        margin-top: 14px;
    }
}

li {
    position: relative;
    margin-bottom: 10px;
    line-height: 100%;
    &:before {
        content: '';
        position: absolute;
        left: -27px;
        top: 2px;
        width: 8px;
        height: 8px;
        border: 2px solid $descr-dark;
        border-radius: 11px;
        transition: all .6s;
        opacity: 0;
    }
}

.hide {
    opacity: 0;
}

.shown {
    opacity: 1;
}
