@media (max-width: 1200px) {        
    .header {
        &_logo {
            a {
                img {
                    width: 180px;
                    height: 26px;
                }
            }
        }
    }
    .promo {
        padding-top: 221px;
        height: 606px;
    }
    .m-hidden {
        display: none;
    }

    .m-visible {
        display: block;
    }
}

@media (max-width: 991px) {
    * {
        font-size: 14px;
    }
    .container {
        width: 780px;
    }
    .header {
        &__menu {
            &-item {
                margin-left: 19px;
                a {
                    font-size: 15px;                    
                }
            }
        }
    }
    .btn {
        padding: 11px 30px;
        &_promo-down {
            bottom: -131px;
        }
        &_tab {
            width: 141px;
        }
    }
    .divider {
        margin: 16px auto 0 auto;
    }
    .title {
        font-size: 32px;
        &_promo {
            font-size: 48px;
            width: 514px;
            span {
                font-size: 48px;
            }
        }
        &_fz_18 {
            font-size: 15px;
            font-weight: 400;
        }
        &_fz_24 {
            font-size: 17px;
        }
    }
    .about {
        min-height: 872px;
        &__company {
            &_text {
                margin-left: 41px;
            }
            &_descr {
                width: 439px;
            }            
            &_img {
                img {
                    width: 300px;
                    height: 315px;
                }
            }
        }
        &__wrapper {
            grid-template: 160px 120px / repeat(2, 380px);
            row-gap: 0;
        }
        &__line {
            margin-top: 20px;
        }
    }
    .benefits {
        padding-top: 80px;
        min-height: 741px;
        &__descr {
            margin-top: 50px;
        }
    }
    .item {
        width: 246px;
        &_descr {
            margin-top: 16px;
        }
        &-exp {
            width: 236px;
        }
    }
    .services {
        padding-top: 80px;
        &__tabs {
            margin-bottom: 80px;
        }
        &__tab {
            width: 252px;
            height: 455px;
            padding: 20px 12px;
            margin-right: 12px;
            &_price {
                font-size: 16px;
                margin-right: 6px;
            }
        }
    }
    .areas {
        padding-top: 80px;
        min-height: 970px;
    }

    .experience {
        min-height: 744px;
        padding: 89px 0 77px 0;
        &__header {
            margin-bottom: 50px;
        }
        &__labels {
            width: 252px;
        }
    }
    .label {
        &_exp {
            white-space: wrap;
        }
    }
    .recommend {
        padding-top: 80px;
        min-height: 589px;
        &__logos {
            height: 341px;
            padding: 0;
            img {
                flex: 1 1 auto;
                transform: scale(0.7);
            }
        }
       
    }
}

@media (max-width: 767px) {
    * {
        font-size: 14px;
    }
}

@media (max-width: 575px) {
    * {
        font-size: 14px;
    }
}