.arrows {
    &__arrow-prev, &__arrow-next {
        width: 101px;
        height: 52px;
        padding: 12px 36px;
        border-radius: 43px;
        border: 1px solid var(--blue-dark, #1B0D43);
        background: rgba(255, 255, 255, 0.80);
        position: absolute;
        left: 500px;
        top:50%;
        transform: translateY(-100%);
        z-index: 10;
        &-exp {
            position: inherit;
            left: 0;
            right: 0;
            top: 0;
            transform: none;
        } 
    }
    &__arrow-next {
        right: 500px;
        left: auto;
        &-exp {
            position: inherit;
            left: 0;
            right: 0;
            top: 0;
            transform: none;
            margin-left: 5px;
        }
    }
}