.header {
    height: 52px;
    position: absolute;
	top: 5px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    margin-top: 28px;
    font-size: 16px;
    font-weight: 600;
    
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__menu {
        display: flex;
        justify-content: end;
        margin-left: 30px;
        &-item {
            margin-left: 30px;
            a {
                text-transform: uppercase;
                color: $white;
                font-size: 16px;
                font-weight: 300;
                position: relative;
                &:before {
                    content: '';
                    position: absolute;
                    bottom: -5px;
                    width: 90%;
                    height: 1px;
                    background-color: $white;
                    transition: 0.4s all;
                    opacity: 0;
                }
                &:hover {
                    &:before {
                        opacity: 1;
                        width: 90%;
                    }
                }
            }
            
        }
    }
    &_background {
        height: 110px;
        background: linear-gradient(180deg, #000B1C 0%, #170C46 100%);
    }
}