.services {
    overflow: hidden;
    padding-top: 100px;
    &__tabs {
        display: flex;
        margin-top: 29px;
    }
    &__tab {
        padding: 31px 16px 40px 16px;
        position: relative;
        width: 368px;
        height: 469px;
        border-radius: 15px;
        margin-right: 16px;
        &_active {
            background: #EFF4FF;
        }
        &_descr {
            color: $descr_dark;
            margin-top: 25px;
            line-height: 130%;
            flex-shrink: 0;
            font-weight: 400;
        }
        &_list {
            margin-top: 16px;
            margin-left: 27px;
            color: $descr-dark;
            li {
                margin-top: 0;
                &:before {
                    opacity: 1;
                }
            }
        }
        &_footer {
            position: absolute;
            bottom: 30px;            
        }
        &_inner {
            margin-top: 20px;
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &_price {
            font-size: 24px;
            font-weight: 700;
            text-transform: uppercase;
            margin-right: 40px;
        }
    }
    &__btn {
        text-transform: uppercase;
        color: $darkblue;
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;
        &_close {
            &:hover {
                color: #19D2CE;
            }
        }
    }

    &__sliders {
        padding-top: 86px;
        background-color: $lightblue;
        height: 611px;
        position: relative;
        overflow: hidden;
        &_header {
            width: 876px;
            margin: 0 auto;
            position: relative;
        }
        &__wrapper {
            position: relative;
        }
        &_close {
            position: absolute;
            right: 0;
            top: -20px;
            display: flex;
            width: 97px;
            justify-content: space-between;
            align-items: center;
        }
        &_hidden {
            display: none;
        }
    }
    &__close {
        font-size: 24px;
        cursor: pointer;
    }
   
    &__slider {
        position: relative;
        display: none;
        margin-top: 20px;
        &_active {
            display: block;
        }
        &_item {
            
            img {
                width: 697px;
                height: 392px;
                &:hover {
                    transform: scale(1.15);
                }
            }
        }
    }
    
}

